@import url('http://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Montserrat:400,400i,400,500,600,700,700i|Righteous');

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greetings h1 {
    color: #fff;
    margin: 0;
    font-size: 60px;
    line-height: 1.4em;
    text-transform: Uppercase;
    font-weight:bolder;
    letter-spacing: 1px;
    font-family: 'Righteous', cursive;
}
.greetings span{  
    font-size: 31px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 21px;
    margin-bottom: 8px;
}
.greetings .social ul {
    display: flex;
    color: white;
}
.greetings li:hover {
    background-color: transparent;
    color:#fff
}
.greetings .social .icon {
    color: white;
}