.home {
    display: flex;
    flex-direction: column;
}
.header-wrapper {
    text-align: center;
    padding: 0;
    background: url(https://i.ibb.co/c3pDCq5/education-day-arrangement-table-with-copy-space.jpg);
    background-attachment: scroll;
    background-size: auto;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.greetings {
    position: relative; 
    top: 300px;
}
.home .blank-line{
    height: 30px;
    background-color: #fff;
}
a {
    text-decoration: none;
}

.middle-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    color: #2e2e2e;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}