@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.about-us {
    margin: 30px;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us .heading {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.about-us p{
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.about-us h4{
    font-family: 'Playfair Display', serif;
}

.description {
    font-family: 'Montserrat', sans-serif;
}
.about-us .heading .testimonial {
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 4px rgba(0,0,0,0.08); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 4px rgba(0,0,0,0.08);
    border-radius: 0.3rem;
}

.about-us .heading .testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-us .heading .testimonial .left-side {
    margin: 10px;
    padding: 10px;
    border-radius: 0.5rem;
}

.about-us .heading .testimonial .left-side img {
    height: 19rem;
    width: 25rem;
    border-radius: 0.3rem;

}

.about-us .heading .testimonial .right-side {
    padding: 20px;
}
.about-us .heading .testimonial .right-side .description span{
    margin: 0;
}

.appointment {
    background-color: rgb(69, 69, 70);
    padding: 20px;
    margin: 5px;
    margin-bottom: 20px;
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.appoint-button {
    width: 70%;
    text-align: center;
}
.appointment h3{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: white;
}

.appointment p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

@media screen and (max-width: 938px) {
    .about-us .heading .testimonial {
        flex-direction: column;
        height: auto;
    }
    .about-us .heading .testimonial .right-side .description, .about-us .heading .testimonial .right-side .title{
        text-align: center;
    }
}


@media screen and (min-width: 1690px) {
    .about-us .heading .testimonial {
        width: 80%;
    }
}
@media screen and (max-width: 560px) {
    .about-us .heading .testimonial {
        width: 100%;
    }
    .about-us .heading .testimonial .left-side img {
        width: 100%;
        height: fit-content;
    }
}