.portfolio {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .container {
    flex:1 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.portfolio .container div {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 4px rgba(0,0,0,0.08); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 4px rgba(0,0,0,0.08);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .container .item1 {
    flex: 3;
    height: 25rem;
}

.portfolio .container .item2 {
    flex: 3;
    height: 25rem;

}
.portfolio .container .item3 {
    flex: 3;
    height: 25rem;
}
.portfolio .works-icons{
    height: 90px;
    background-color: #47453f;
    border-radius: 50%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.portfolio .works-icons {
    height: 5.5rem;
}
.portfolio .works-heading {
    height: fit-content;
    text-align: center;
    font-size: 24px;
    color: #121158;
    font-weight: 700;
    margin: 0 0 7px;
}
.portfolio p{
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    color: #515184;
}

.portfolio .our-portfolio {
    margin-top: 30px;
}
.portfolio .our-portfolio h4 {
    text-align: center; 
    font-size: 35px;
    line-height: 45px;
    color: #303030;
    text-transform: capitalize;
}

.portfolio .our-portfolio span {
    color: #606060;
}

@media screen and (max-width: 1373px) {
    .portfolio .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* .portfolio .container div {
        width: 100vw;
        
    } */

    .portfolio .container .item1 {
        width: 80%;
    }
    
    .portfolio .container .item2 {
        width: 80%;
    
    }
    .portfolio .container .item3 {
        width: 80%;
    }
  }